<div class="footer">
    <div class=" text-center footer-content">
        <div class="container-fluid ">
            <div class="row">
             <div class="col-md-6">
                <h5 >Grocery Mart</h5>
            <p>This grocery store sells fresh produce, meats, dairy products and, 
                often, bakery goods alongside canned, frozen and prepared foods. 
                In addition, a grocery store will also sell a full range of household, 
                healthcare and personal care items.</p>
        </div>
        <div class="col-md-6">
           <ul class="footer-links">
            <h5>Important Links</h5>
               <a href="#"><li>About Us</li></a>
               <a href="#"><li>Shop</li></a>
               <a href="#"><li>Offers</li></a>
               <a href="#"><li>Contact</li></a>
           </ul>
           </div>
        </div>
    </div>
</div>